.card{
    width: 18rem;
    
}

.imgTarjetas{
    width: 17.9rem;
    height: 12rem;
    background: rgb(57, 143, 36);
    background-image: url('../img/background.png')
}

.card{
    border-width: 5px;
}



